<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwException ="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  note: will be set after the include are loaded
  <variable name="myVar" value="myValue"/>

  <targets>
    <target name="errorFile" xsi:type="File"
        layout="
         -----------  ${level} (${longdate}) -----------  ${newline}
        ${newline}
        Call Site : ${callsite}${newline}
        Exception Type: ${exception:format=Type}${newline}
        Exception Message : ${exception:format=Message}${newline}
        Stack Trace : ${exception:format=StackTrace}${newline}
        Additional Info:${message}${newline}
                "
        fileName="${basedir}/Logs/Logfile.log"
        maxArchiveFiles="4"
        archiveAboveSize="10240"
        archiveEvery="Day" />


    <target name="infoFile" xsi:type="File"
       layout="
         -----------  ${level} (${longdate}) -----------  ${newline}
       Additional Info: ${message} ${args}${newline}
                "
       fileName="${basedir}/Logs/Logfile.log"
       maxArchiveFiles="4"
       archiveAboveSize="10240"
       archiveEvery="Day" />


  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="errorFile" />
    <logger name="*" levels="Info" writeTo="infoFile" />
    not enabled, only when tracing

  </rules>
</nlog>