<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="ErpStockConString" connectionString="Data Source=DESKTOP-D40F8MT\MSSQLSERVER2;initial catalog=TutunZavodu; User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="stockId" value="3" />
    <add key="IncomeStatusId" value="20284" />
    <add key="OutcomeStatusId" value="20166" />
    <add key="Seconds" value="300" />
    <add key="apiUrl" value="http://81.21.85.119:8091/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="C:\Logs\MarktClapp.WindowsFront.Frontend.FrontendUI\nlog.log" internalLogLevel="Warn">
    <targets>
      <target name="InfoFileTarget" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=message,Data:maxInnerExceptionLevel=10}" fileName="${basedir}/Logs/InfoLog.txt" archiveFileName="${basedir}/Logs/InfoLog.{#####}.txt" archiveAboveSize="1000000" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" encoding="UTF-8"></target>
      <target name="ErrorFileTarget" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=message,Data:maxInnerExceptionLevel=10}" fileName="${basedir}/Logs/ErrorLog.txt" archiveFileName="${basedir}/Logs/ErrorLog.{#####}.txt" archiveAboveSize="1000000" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" encoding="UTF-8"></target>
    </targets>
    <rules>
      <logger name="*" maxlevel="Warn" writeTo="InfoFileTarget" />
      <logger name="*" minlevel="Error" writeTo="ErrorFileTarget" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>