<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="ErpStockConString" connectionString="Server=DESKTOP-D40F8MT\MSSQLSERVER2;Database=TutunZavodu;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicHttpBinding">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding
                 name="basicHttp"
                 allowCookies="true"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas
                 maxDepth="2147483647"
                 maxArrayLength="2147483647"
                 maxBytesPerRead="2147483647"
                 maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ERP.StockService.StockService" behaviorConfiguration="basicHttpBinding">
        <endpoint
          address="PropertyService"
          binding="basicHttpBinding"
          bindingConfiguration="basicHttp"
          contract="ERP.StockService.IStockService">
        </endpoint>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
